<!DOCTYPE html>
<html>
  <head>
    <title>Sign In Successfull</title>  
    {% include 'bootstrap.html' %}
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        My MFR
      </h1>

      <p>O perfil de médico foi criado com sucesso</p>

      <b>Nome Completo</b>
      <div class="mb-2">{{application['firstName']}} {{application['lastName']}}</div>

      <b>Número da Ordem</b>
      <div class="mb-2">{{application['docID']}}</div>

      <b>Email</b>
      <div class="mb-2">{{application['email']}}</div>

      <b>Local de Trabalho</b>
      <div class="mb-2">{{application['hospitalAdress']}}</div>
      
    </div>
    <div>
      <a href="/" type="button" class="btn btn-outline-primary float-right align-middle" >Voltar</a>
    </div>
  </body>
</html>
