<!DOCTYPE html>
<html>
  <head>
    <title>My MFR</title>  
    {% include 'bootstrap.html' %}
  </head>  
    <body>
        <h1 class="title">
            Welcome, {{ name }}!
        </h1>
        <div>
            <a href="/doctor_logout" type="button" class="btn btn-outline-primary float-right align-middle" >Médico - Log Out</a>
          </div>
          <br>
          <div>
            <a href="/patient_register" type="button" class="btn btn-outline-primary float-right align-middle" >Registo Utente</a>
          </div>
          <br>
          <div>
            <a href="/formulario_koos" type="button" class="btn btn-outline-primary float-right align-middle" >Formulário - KOOS Joelho</a>
          </div>
          <br>
          <div>
            <a href="/patient_form_combo" type="button" class="btn btn-outline-primary float-right align-middle" >Paciente - Formulário</a>
          </div>
    </body>
</html>