<!DOCTYPE html>
<html>
  <head>
    <title>My MFR</title>  
    {% include 'bootstrap.html' %}
    <script src="https://cdn.tailwindcss.com"></script>

  </head>  
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Go to <a href="\doctor_login">login page</a>.
                </div>
            {% endif %}
        {% endwith %}

        {% include 'style_nav_home.html' %}
            
        {% include 'style_login.html' %}

       


        <div class="column is-4 is-offset-4">





        </div>
    </body>
</html>